In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("D:\\datasets\\covid_cases__vaccination.csv")
df

,Unnamed: 0,country,date,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
0,0,afghanistan,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,afghanistan,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,afghanistan,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,afghanistan,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,afghanistan,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199012,199012,tuvalu,2022-04-01,0.0,0.0,0.0,0.0,0.0,10200.0,0.0,3.0,1.0
199013,199013,tuvalu,2022-04-02,0.0,0.0,0.0,0.0,0.0,10203.0,0.0,3.0,1.0
199014,199014,tuvalu,2022-04-03,0.0,0.0,0.0,0.0,0.0,10206.0,0.0,3.0,1.0
199015,199015,tuvalu,2022-04-04,0.0,0.0,0.0,0.0,0.0,10209.0,0.0,3.0,1.0
199016,199016,tuvalu,2022-04-05,0.0,0.0,0.0,0.0,6160.0,10212.0,0.0,3.0,1.0

In [3]:
df.head()

,Unnamed: 0,country,date,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
0,0,afghanistan,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,afghanistan,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,afghanistan,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,afghanistan,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,afghanistan,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.tail()

,Unnamed: 0,country,date,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
199012,199012,tuvalu,2022-04-01,0.0,0.0,0.0,0.0,0.0,10200.0,0.0,3.0,1.0
199013,199013,tuvalu,2022-04-02,0.0,0.0,0.0,0.0,0.0,10203.0,0.0,3.0,1.0
199014,199014,tuvalu,2022-04-03,0.0,0.0,0.0,0.0,0.0,10206.0,0.0,3.0,1.0
199015,199015,tuvalu,2022-04-04,0.0,0.0,0.0,0.0,0.0,10209.0,0.0,3.0,1.0
199016,199016,tuvalu,2022-04-05,0.0,0.0,0.0,0.0,6160.0,10212.0,0.0,3.0,1.0

In [5]:
data=pd.DataFrame(df)
data

,Unnamed: 0,country,date,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
0,0,afghanistan,2020-01-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,afghanistan,2020-01-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,afghanistan,2020-01-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,afghanistan,2020-01-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,afghanistan,2020-01-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
199012,199012,tuvalu,2022-04-01,0.0,0.0,0.0,0.0,0.0,10200.0,0.0,3.0,1.0
199013,199013,tuvalu,2022-04-02,0.0,0.0,0.0,0.0,0.0,10203.0,0.0,3.0,1.0
199014,199014,tuvalu,2022-04-03,0.0,0.0,0.0,0.0,0.0,10206.0,0.0,3.0,1.0
199015,199015,tuvalu,2022-04-04,0.0,0.0,0.0,0.0,0.0,10209.0,0.0,3.0,1.0
199016,199016,tuvalu,2022-04-05,0.0,0.0,0.0,0.0,6160.0,10212.0,0.0,3.0,1.0

In [6]:
df.describe()

,Unnamed: 0,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
count,199017.000000,1.990170e+05,1.990170e+05,1.990170e+05,199017.000000,1.990170e+05,1.990170e+05,1.990170e+05,1.990170e+05,1.990170e+05
mean,99508.000000,9.536675e+05,1.567214e+04,3.246969e+03,33.998769,4.208478e+06,1.713372e+07,9.571097e+05,6.200001e+04,2.361119e+04
std,57451.403599,4.225319e+06,6.290801e+04,1.892379e+04,171.530630,3.527499e+07,1.395658e+08,9.663093e+06,5.135084e+05,1.915358e+05
min,0.000000,0.000000e+00,0.000000e+00,-3.491160e+05,-1918.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,49754.000000,1.434000e+03,1.900000e+01,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,99508.000000,2.779800e+04,3.840000e+02,4.100000e+01,0.000000,0.000000e+00,1.518200e+04,0.000000e+00,4.300000e+01,6.000000e+00
75%,149262.000000,2.904140e+05,4.636000e+03,6.580000e+02,7.000000,0.000000e+00,1.938564e+06,0.000000e+00,7.858000e+03,2.663000e+03
max,199016.000000,8.859459e+07,1.020862e+06,1.383890e+06,11447.000000,1.261908e+09,3.405602e+09,7.932790e+08,2.242429e+07,6.785334e+06

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199017 entries, 0 to 199016
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Unnamed: 0               199017 non-null  int64
 1   country                  199017 non-null  object
 2   date                     199017 non-null  object
 3   total_cases              199017 non-null  float64
 4   total_deaths             199017 non-null  float64
 5   daily_cases              199017 non-null  float64
 6   daily_deaths             199017 non-null  float64
 7   fully_vaccinated         199017 non-null  float64
 8   total_vaccinations       199017 non-null  float64
 9   total_boosters           199017 non-null  float64
 10  daily_vaccinations       199017 non-null  float64
 11  daily_people_vaccinated  199017 non-null  float64
dtypes: float64(9), int64(1), object(2)
memory usage: 18.2+ MB

In [8]:
df.columns

Index(['Unnamed: 0', 'country', 'date', 'total_cases', 'total_deaths',
       'daily_cases', 'daily_deaths', 'fully_vaccinated', 'total_vaccinations',
       'total_boosters', 'daily_vaccinations', 'daily_people_vaccinated'],
      dtype='object')

In [9]:
df.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False])

In [10]:
df.columns.isnull().sum()

0

In [11]:
df.shape

(199017, 12)

In [12]:
data.shape

(199017, 12)

In [14]:
df.ndim

2

In [15]:
df.sample()

,Unnamed: 0,country,date,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
179294,179294,tonga,2021-05-19,0.0,0.0,0.0,0.0,0.0,12325.0,0.0,425.0,425.0

In [17]:
df.index

RangeIndex(start=0, stop=199017, step=1)

In [18]:
df.nunique()

Unnamed: 0                 199017
country                       216
date                          901
total_cases                 95517
total_deaths                32583
daily_cases                 17404
daily_deaths                 1757
fully_vaccinated            44894
total_vaccinations         102081
total_boosters              20090
daily_vaccinations          45168
daily_people_vaccinated     32136
dtype: int64

In [19]:
df.memory_usage

<bound method DataFrame.memory_usage of         Unnamed: 0      country        date  total_cases  total_deaths  \
0                0  afghanistan  2020-01-22          0.0           0.0
1                1  afghanistan  2020-01-23          0.0           0.0
2                2  afghanistan  2020-01-24          0.0           0.0
3                3  afghanistan  2020-01-25          0.0           0.0
4                4  afghanistan  2020-01-26          0.0           0.0
...            ...          ...         ...          ...           ...
199012      199012       tuvalu  2022-04-01          0.0           0.0
199013      199013       tuvalu  2022-04-02          0.0           0.0
199014      199014       tuvalu  2022-04-03          0.0           0.0
199015      199015       tuvalu  2022-04-04          0.0           0.0
199016      199016       tuvalu  2022-04-05          0.0           0.0

        daily_cases  daily_deaths  fully_vaccinated  total_vaccinations  \
0               0.0           0.0               0.0                 0.0
1               0.0           0.0               0.0                 0.0
2               0.0           0.0               0.0                 0.0
3               0.0           0.0               0.0                 0.0
4               0.0           0.0               0.0                 0.0
...             ...           ...               ...                 ...
199012          0.0           0.0               0.0             10200.0
199013          0.0           0.0               0.0             10203.0
199014          0.0           0.0               0.0             10206.0
199015          0.0           0.0               0.0             10209.0
199016          0.0           0.0            6160.0             10212.0

        total_boosters  daily_vaccinations  daily_people_vaccinated
0                  0.0                 0.0                      0.0
1                  0.0                 0.0                      0.0
2                  0.0                 0.0                      0.0
3                  0.0                 0.0                      0.0
4                  0.0                 0.0                      0.0
...                ...                 ...                      ...
199012             0.0                 3.0                      1.0
199013             0.0                 3.0                      1.0
199014             0.0                 3.0                      1.0
199015             0.0                 3.0                      1.0
199016             0.0                 3.0                      1.0

[199017 rows x 12 columns]>

In [21]:
df.memory_usage().sum()

19105760

In [23]:
df.isnull()

,Unnamed: 0,country,date,total_cases,total_deaths,daily_cases,daily_deaths,fully_vaccinated,total_vaccinations,total_boosters,daily_vaccinations,daily_people_vaccinated
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
199012,False,False,False,False,False,False,False,False,False,False,False,False
199013,False,False,False,False,False,False,False,False,False,False,False,False
199014,False,False,False,False,False,False,False,False,False,False,False,False
199015,False,False,False,False,False,False,False,False,False,False,False,False
199016,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         Unnamed: 0  country   date  total_cases  total_deaths  daily_cases  \
0            False    False  False        False         False        False
1            False    False  False        False         False        False
2            False    False  False        False         False        False
3            False    False  False        False         False        False
4            False    False  False        False         False        False
...            ...      ...    ...          ...           ...          ...
199012       False    False  False        False         False        False
199013       False    False  False        False         False        False
199014       False    False  False        False         False        False
199015       False    False  False        False         False        False
199016       False    False  False        False         False        False

        daily_deaths  fully_vaccinated  total_vaccinations  total_boosters  \
0              False             False               False           False
1              False             False               False           False
2              False             False               False           False
3              False             False               False           False
4              False             False               False           False
...              ...               ...                 ...             ...
199012         False             False               False           False
199013         False             False               False           False
199014         False             False               False           False
199015         False             False               False           False
199016         False             False               False           False

        daily_vaccinations  daily_people_vaccinated
0                    False                    False
1                    False                    False
2                    False                    False
3                    False                    False
4                    False                    False
...                    ...                      ...
199012               False                    False
199013               False                    False
199014               False                    False
199015               False                    False
199016               False                    False

[199017 rows x 12 columns]>

In [25]:
df.dtypes

Unnamed: 0                   int64
country                     object
date                        object
total_cases                float64
total_deaths               float64
daily_cases                float64
daily_deaths               float64
fully_vaccinated           float64
total_vaccinations         float64
total_boosters             float64
daily_vaccinations         float64
daily_people_vaccinated    float64
dtype: object

In [26]:
df.index

RangeIndex(start=0, stop=199017, step=1)

In [28]:
len(df.columns)

12